@{
    ViewBag.Title = "User Page";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>
<li>@Html.ActionLink("Contact", "Contact", "Home")</li>
 <li>@Html.ActionLink("User Page", "UserPage", "Home")</li>
